body {
  height: 100vh;
  background-color: #b3dee5;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* --- BASE.HTML CSS --- */
/* Navbar */
nav.nav-extended,
ul.sidenav {
  position: fixed;
  background-color: #ffa101;
  opacity: 0.8;
}

.sidenav li > a {
  color: #fff;
}

ul li:hover {
  background-color: #31525b;
}

nav .brand-logo {
  margin: 0 0 0 1rem;
}
/* ---END OF BASE.HTML CSS --- */

/* --- INDEX.HTML CSS --- */
/* Hero image */
.hero-image {
  width: 100%;
  height: 30rem;
  background: url(../images/hero-image.jpg) no-repeat center center / cover;
}

/* Search Bar */
.input-field.col.s12.m8 {
  margin-inline-start: 8.5rem; /* centers the search bar on medium and large screens*/
}
/* --- END OF INDEX.HTML CSS --- */

/* --- REGISTER.HTML CSS --- */
/* Register button */
.register-btn.col.s12.btn.text-shadow {
  width: 50%;   /* centers the register button */
  margin-inline-start: 25%;
}