/* Google Fonts: https://fonts.google.com/specimen/Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: rgba(255, 161, 1, 0.7);
  font-family: Poppins, sans-serif;
}

.text-shadow {
  text-shadow: 1px 1px 2px #000000b3;
}

.btn,
.btn-large,
.btn-small,
.btn-floating,
.btn-large,
.btn-small,
.btn-flat {
  background-color: #74b9c4;
  border-radius: 10px;
}

.btn:hover {
  background-color: #ffa101;
}

/* --- BASE.HTML CSS --- */
/* Navbar */
nav.nav-extended {
  z-index: 5; /* Fix for navbar overlapping */
}

nav.nav-extended,
ul.sidenav {
  position: fixed;
  background-color: #1e3952;
  opacity: 0.8;
}

.sidenav li > a {
  color: #fff;
  position: relative;
  z-index: 3;
}

ul li:hover {
  background-color: #ffa101;
}

nav .brand-logo {
  margin: 0 0 0 1rem;
}

/* flash messages */
#flashes {
  position: absolute;
  left: 26%;
  top: 12%;
  z-index: 1;
  width: 50%;
  background: #1e3950;
  border: 2px solid #ffa101;
  border-radius: 0.5rem;
  color: #fff;
}

/* Footer */
.page-footer.center {
  background-color: #1e3952;
  font-weight: 300;
}

h5.white-text {
  font-weight: 300;
}

.social-padding.white-text {
  padding: 0 0 2.5rem;
}

.social-icon {
  font-size: 2rem;
  padding: 1rem;
}

.fab:hover {
  color: #ffa101; /* changes the social icons color on hover */
}

.developer-link {
  color: #eee;
}

.developer-link:hover {
  color: #ffa101; /* changes the developers link color on hover */
}
/* ---END OF BASE.HTML CSS --- */

/* --- INDEX.HTML CSS --- */
/* Hero image */
.hero-image {
  width: 100%;
  height: 30rem;
  background: url(../images/hero-image.jpg) no-repeat center center / cover;
}

/* Heading */
.hero-body.center.row {
  width: 21rem;
  color: #fff;
  position: relative;
  top: 3rem;
}

.hero-header.text-shadow {
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 1.5px;
}

/* info card */
.info-container {
  margin-top: 1rem;
  line-height: normal;
  font-weight: 200;
  letter-spacing: 1px;
}

.info-card {
  border-radius: 8px;
  background-color: #1e3952db;
  color: #fff;
  font-size: 1.25rem;
  border: 2px solid #b3dee5;
  box-shadow: 0px 0px 2px 2px gray;
}

/* Search Bar */
.input-field.col.s12.m8 {
  margin-inline-start: 8.5rem; /* centers the search bar on medium and large screens*/
}

label.search-recipes {
  color: white;
  text-shadow: 1px 1px 2px #000000b3;
  font-size: inherit;
  padding-left: 1rem;
}

.search-container {
  margin: 1.25rem auto; /* adds space between text and search button */
}

.sign-up-container {
  padding: 2.25rem;
}
/* --- END OF INDEX.HTML CSS --- */

/* --- RECIPES.HTML CSS --- */
/* Recipe card */
.recipe-heading-row.row {
  width: 60%; /* Reduces the size of the background */
}

.recipe-heading.center-align {
  font-weight: 200;
  color: #fff;
  margin-top: 7rem;
  padding: 1.25rem;
  font-size: 6rem;
  background-color: #31525b;
  opacity: 0.8;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 1px black;
}

.card {
  border-radius: 6px;
  border: 2px solid #1e395d;
  font-family: "Poppins";
  background-color: #b3dee5e8;
  color: #fff;
  font-weight: initial;
  padding-inline: 2rem;
}

img {
  border-inline: 3px solid #1e3952;
}

.card .card-image img {
  height: auto;
  border-bottom: 2px solid #1e3952;
}

.card-title {
  background: #b3dee5e8;
  border-right: 2px solid #1e3952;
  border-top: 2px solid #1e3952;
  border-top-right-radius: 5px 5px;
}

.recipe-button.btn {
  background-color: #ffa101;
  border: 1px solid #1e3952;
}

.recipe-button.btn:hover {
  background-color: #1e3952;
}
/* --- END OF RECIPES.HTML CSS --- */

/* --- REGISTER.HTML CSS --- */
/* Register button */
.register-heading-row.row {
  width: 40%; /* reduces the width of the background */
}

.register-heading {
  font-weight: 200;
  color: #fff;
  margin-top: 7rem;
  padding: 1.25rem;
  font-size: 4rem;
  background-color: #31525b;
  opacity: 0.8;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 1px black;
}

label.register-form {
  color: white;
  text-shadow: 1px 1px 2px #000000b3;
  font-size: inherit;
  padding-left: 1rem;
}

.register-row.row {
  padding-top: 2rem;
}

.sign-in-text {
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
}
/* --- END OF REGISTER.HTML CSS --- */

/* --- LOGIN.HTML CSS --- */
.login-heading-row.row {
  width: 40%; /* reduces the width of the background */
}

.login-heading {
  font-weight: 200;
  color: #fff;
  margin-top: 7rem;
  padding: 1.25rem;
  font-size: 4rem;
  background-color: #31525b;
  opacity: 0.8;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 1px black;
}

.login-row {
  padding-top: 2rem;
}

label.login-form {
  color: white;
  text-shadow: 1px 1px 2px #000000b3;
  font-size: inherit;
  padding-left: 1rem;
}

.login-btn.login-btn.col.s12.btn.text-shadow {
  width: 25%; /* centers the login button button */
  margin-inline-start: 38%;
  border: 1px solid #1e3952;
}

.sign-up-text.text-shadow {
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
}

.sign-up-btn {
  border: 1px solid #1e3952;
}

.login-btn:hover,
.sign-up-btn:hover {
  background-color: #1e3952;
}

/* --- END OF LOGIN.HTML CSS --- */

/* --- PROFILE.HTML CSS --- */
.profile-heading {
  font-weight: 200;
  color: #fff;
  margin-top: 7rem;
  padding: 1.25rem;
  font-size: 6rem;
  background-color: #31525b;
  opacity: 0.8;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 1px black;
}

.no-recipe-text.col.s12.center-align {
  font-size: 1.75rem;
  color: #fff;
  padding: 4rem 0;
}

.my-recipe-row {
  width: 60%; /* Reduces the size of the background */
}

.my-recipe-heading {
  font-weight: 200;
  color: #fff;
  padding: 1.25rem;
  font-size: 4rem;
  background-color: #31525b;
  opacity: 0.8;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 1px black;
}

.add-recipe-btn:hover {
  background-color: #1e3952;
}
/* --- END OF PROFILE.HTML CSS --- */

/* --- ADD_RECIPES.HTML & EDIT_RECIPES.HTML CSS --- */
.add-heading-row.row {
  width: 60%; /* Reduces the size of the background */
}

.add-heading {
  font-weight: 200;
  color: #fff;
  margin-top: 7rem;
  padding: 1.25rem;
  font-size: 4rem;
  background-color: #31525b;
  opacity: 0.8;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 1px black;
}

.form-padding {
  padding-inline: 2rem;
}

.add-recipe-form.card-panel {
  border-radius: 6px;
  border: 2px solid #1e395d;
  font-family: "Poppins";
  background-color: #b3dee5e8;
  color: #fff;
  font-weight: initial;
  padding-inline: 2rem;
}

.select-wrapper input.select-dropdown {
  text-shadow: 1px 1px 2px #000000b3;
  color: #fff;
}

label.add-recipe {
  color: white;
  text-shadow: 1px 1px 2px #000000b3;
  font-size: inherit;
  padding-left: 1rem;
}

.add-recipe-btn {
  border: 1px solid #1e3952;
  background-color: #ffa101;
}

.add-recipe-btn:hover {
  background-color: #1e3952;
}

#recipe_name, /* styles the placeholder text on the edit recipe page */
#image_url,
#prep_time,
#serves,
#ingredients,
#method {
  padding-left: 1rem;
  color: #fff;
  text-shadow: 1px 1px 2px #000000b3;
}
/* Category dropdown */
.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
  color: #fff;
  background-color: #ffa101;
}

.dropdown-content {
  background-color: #1e3952b3;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #fff;
}
/* --- END OF ADD_RECIPES.HTML & EDIT_RECIPES.HTML CSS --- */

/* --- FULL_RECIPE.HTML CSS --- */
.full-recipe-heading-row.row {
  width: 60%; /* Reduces the size of the background */
}

.full-recipe-heading {
  font-weight: 200;
  color: #fff;
  margin-top: 7rem;
  padding: 1.25rem;
  font-size: 4rem;
  background-color: #31525b;
  opacity: 0.8;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 1px black;
}

.full-recipe-card.card.center-align,
.full-recipe-card.card.row {
  margin-inline: auto;
  font-size: 1.25rem;
}

.center-align.card-title {
  border: 2px solid #1e3952;
  border-radius: 8px;
  padding: 0.75rem;
}

.full-recipe-content {
  display: list-item;
}
/* --- END OF FULL_RECIPE.HTML CSS --- */
/* --- MANAGE_CATEGORIES.HTML --- */
.section-padding.text-shadow {
  padding-bottom: 9rem; /*Pushes the footer to the bottom when there isn't much content on the page */
}

.manage-heading-row.row {
  width: 60%; /* Reduces the size of the background */
}

.manage-heading {
  font-weight: 200;
  color: #fff;
  margin-top: 7rem;
  padding: 1.25rem;
  font-size: 4rem;
  background-color: #31525b;
  opacity: 0.8;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 1px black;
}

.category-title.card-title {
  border: 2px solid #1e3952;
  border-radius: 8px;
  padding: 0.75rem;
  background-color: #1e3952cf;
}

.add-category-btn {
  border: 1px solid #1e3952;
}

.add-category-btn:hover {
  background-color: #1e3952;
}

.category-btn {
  margin: 0.5rem;
}

/* --- END OF MANAGE_CATEGORIES.HTML --- */
/* --- ADD_CATEGORY.HTML --- */
.container.new-cat-padding.text-shadow {
  padding-bottom: 12rem; /*Pushes the footer to the bottom when there isn't much content on the page */
}

.add-category-form.card-panel {
  border-radius: 6px;
  border: 2px solid #1e395d;
  font-family: "Poppins";
  background-color: #b3dee5e8;
  color: #fff;
  font-weight: initial;
  padding-inline: 2rem;
}

label.add-category {
  color: white;
  text-shadow: 1px 1px 2px #000000b3;
  font-size: inherit;
  padding-left: 1rem;
}

.add-new-cat-btn {
  border: 1px solid #1e3952;
  background-color: #ffa101;
}

.add-new-cat-btn:hover {
  background-color: #1e3952;
}

/* --- END OF ADD_CATEGORY.HTML --- */

/* Max width for mobiles */
@media screen and (max-width: 480px) {
  /* Manage_categories.html */
  .manage-heading-row.row {
    width: 60%; /* Reduces the width of the background */
  }

  .manage-heading {
    font-size: 2rem;
  }
}

/* media for medium and large screens */
@media screen and (min-width: 768px) {
  .form-padding {
    padding-inline: 10rem;
  }
}
