body {
  height: 100vh;
  background-color: rgba(255, 161, 1, 0.7);
}

.text-shadow {
  text-shadow: 1px 1px 2px #000000b3;
}

/* --- BASE.HTML CSS --- */
/* Navbar */
nav.nav-extended {
  z-index: 5; /* Fix for navbar overlapping */
}

nav.nav-extended,
ul.sidenav {
  position: fixed;
  background-color: #1e3952;
  opacity: 0.8;
}

.sidenav li > a {
  color: #fff;
  position: relative;
  z-index: 3;
}

ul li:hover {
  background-color: #ffa101;
}

nav .brand-logo {
  margin: 0 0 0 1rem;
}

/* Footer */
.page-footer.center {
  background-color: #1e3952
}

.social-icon {
  font-size: 2rem;
  padding: 1rem;
}
/* ---END OF BASE.HTML CSS --- */

/* --- INDEX.HTML CSS --- */
/* Hero image */
.hero-image {
  width: 100%;
  height: 30rem;
  background: url(../images/hero-image.jpg) no-repeat center center / cover;
}

/* Heading */
.hero-body.center.row {
  width: 21rem;
  color: #fff;
  position: relative;
  top: 8rem;
}

.hero-header.text-shadow {
  font-size: 3rem;
}



/* info card */
.info-container {
  margin-top: 1rem;
  line-height: normal;
}

.info-card {
  border-radius: 8px;
  background-color: #1e3952db;
  color: #fff;
  font-size: 1.25rem;
}

/* Search Bar */
.input-field.col.s12.m8 {
  margin-inline-start: 8.5rem; /* centers the search bar on medium and large screens*/
}

label.search-recipes {
  color: white;
  text-shadow: 1px 1px 2px #000000b3;
  font-size: inherit;
  padding-left: 1rem;
}

/* --- END OF INDEX.HTML CSS --- */

/* --- REGISTER.HTML CSS --- */
/* Register button */
.register-btn.col.s12.btn.text-shadow {
  width: 50%; /* centers the register button */
  margin-inline-start: 25%;
}
/* --- END OF REGISTER.HTML CSS --- */

/* --- FULL_RECIPE.HTML CSS --- */
/* recipe image card */
