<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metas -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Food, drink, recipe, dinner, lunch, breakfast, make your own recipe, cocktail recipe, 
        dinner recipe, dessert, alcohol, non-alcoholic, vegan, vegetarian, meat, soup, pasta">
    <meta name="description"
        content="RecipePod is a place for people who want to create, share, and edit their favorite food and beverage recipes.">
    <!-- FontAwesome v5.15.4: https://cdnjs.com/libraries/font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Materialize CSS link: https://materializecss.com/getting-started.html -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- jinja block to add any custom CSS from child templates -->
    {% block styles %}
    {% endblock %}
    <title>RecipePod</title>
</head>

<body>
    <header>
        <!-- Main Navbar -->
        <nav class="nav-extended text-shadow">
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo">RecipePod</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <!-- Home -->
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <!-- Only display these links if the user is logged in -->
                    <!-- Recipes -->
                    <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                    {% if session.user %}
                    <!-- Profile -->
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <!-- Only display this link if the user is the admin -->
                    {% if session.is_admin %}
                    <!-- Manage Categories -->
                    <li><a href="{{ url_for('manage_categories') }}">Manage Categories</a></li>
                    {% endif %}
                    <!-- Logout -->
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <!-- Login -->
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <!-- Sign Up -->
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- End Main Navbar -->
        <!-- Mobile sidenav -->
        <ul class="sidenav text-shadow" id="mobile-demo">
            <li class="center-align grey-text text-lighten-4 text-shadow">RecipePod</li>
            <!-- Home -->
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <!-- Recipes -->
            <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
            <!-- Only display these links if the user is logged in -->
            {% if session.user %}
            <!-- Profile -->
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <!-- Only display this link if the user is the admin -->
            {% if session.is_admin %}
            <!-- Manage Categories -->
            <li><a href="{{ url_for('manage_categories') }}">Manage Categories</a></li>
            {% endif %}
            <!-- Logout -->
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <!-- Login -->
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <!-- Sign Up -->
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>
    <!-- End Mobile sidenav -->
    <!-- Display any flash messages -->
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="flashes" class="row text-shadow">
            <div class="center-align">
                <h2>{{ message }}</h2>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!-- End Display any flash messages -->

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer center">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Copyright &copy; RecipePod</h5>
                </div>
                <div class="col l6 s12">
                    <h5 class="social-padding white-text">Social</h5>
                    <div class="row">
                        <a target="_blank" class="white-text social-icon" href="https://www.facebook.com/"><i
                                class="fab fa-facebook"></i></a>
                        <a target="_blank" class="white-text social-icon" href="https://www.instagram.com/"><i
                                class="fab fa-instagram"></i></a>
                        <a target="_blank" class="white-text social-icon" href="https://twitter.com/"><i
                                class="fab fa-twitter"></i></a>
                        <a target="_blank" class="white-text social-icon" href="https://www.youtube.com/"><i
                                class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <p class="white-text">
                            &copy; {{ now.year}}
                            <a class="grey-text text-lighten-4" href="{{ url_for('home') }}">
                                RecipePod
                            </a>
                        </p>
                    </div>
                    <div class="col l6 s12">
                        <p class="grey-text text-lighten-4">
                            Design by <a class="developer-link" href="https://github.com/bozy15">bozy15</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End copyright responsive Footer -->
    <!-- End of Footer -->
    <!-- jQuery v3.6.0: https://code.jquery.com/ -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Materialize JS Script: https://materializecss.com/getting-started.html -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom JS file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- jinja block to add any custom JS from child templates -->
    {% block scripts %}
    {% endblock %}

</body>

</html>