<!-- Extends "base.html" -->
{% extends "base.html" %}
{% block content %}
    <!-- Heading -->
    <div class="row">
        <div class="col s12">
            <h3 class="center-align">Edit Recipe</h3>
        </div>
    </div>
    <!-- Add Recipe form -->
    <section class="valign-wrapper">
        <div class="row">
            <form class="col s12 text-shadow" action="{{ url_for('edit_recipes', recipe_id=recipe._id) }}" method="POST">
                <div class="card-panel">
                    <!-- Recipe category dropdown -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-folder-open prefix"></i>
                            <select name="category_name" id="category_name" class="validate" required>
                                <option value="" disabled>Choose category</option>
                                <!-- For loop that generates the options -->
                                {% for category in categories %} 
                                    <!-- If category is the same as recipe category display that value-->
                                    {% if category.category_name == recipe.category_name %}
                                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                    {% else %} <!-- If not, display all the categories  -->
                                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="category_name">Recipe Category</label>
                        </div>
                    </div>
                    <!-- End of dropdown -->
                    <!-- Recipe name input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input type="text" id="recipe_name" name="recipe_name" minlength="4" maxlength="30"
                                class="validate" value="{{ recipe.recipe_name }}" required>
                            <label for="recipe_name">Recipe's Name</label>
                        </div>
                    </div>
                    <!-- End of Recipe name input -->
                    <!-- Recipe image URL link -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-link prefix"></i>
                            <input type="url" id="image_url" name="image_url" class="validate" value="{{ recipe.image_url }}" required>
                            <label for="image_url">Recipe's Image URL</label>
                        </div>
                    </div>
                    <!-- End of Recipe image URL link -->
                    <!-- Time to make -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-clock prefix"></i>
                            <input type="text" id="prep_time" name="prep_time" class="validate" value="{{ recipe.prep_time }}"
                                required>
                            <label for="prep_time">Time to make</label>
                        </div>
                    </div>
                    <!-- End of time to make -->
                    <!-- Serves -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-users prefix"></i>
                            <input type="text" id="serves" name="serves" class="validate" value="{{ recipe.serves }}" required>
                            <label for="serves">Serves</label>
                        </div>
                    </div>
                    <!-- End of Serves -->
                    <!-- Ingredients -->
                    <div id="ingredient_list" class="row">
                        <!-- for loop to display all the ingredients -->
                        {% for ingredient in recipe.ingredients %}
                        <div class="input-field col s12">
                            <i class="fas fa-list prefix"></i>
                            <input type="text" id="ingredients" name="ingredients" class="validate" minlength="3" maxlength="500" value="{{ ingredient }}" required />
                            <!-- Stops the label printing every time the loop runs -->
                            {% if loop.index == 1 %}
                                <label for="ingredients">Ingredients</label>
                            {% endif %}
                            <!-- If there is more than one ingredient -->
                            {% if loop.index != 1 %}
                                <a href="#" id="remove_ingredient" class="text-shadow wave-effect waves-light btn red right">Delete <i class="fas fa-trash"></i></a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Add a New Ingredient -->
                    <div class="row">
                        <div class="right-align col s12">         
                            <a href="#" id="new_ingredient" class="btn wave-effect waves-light text-shadow">Add Another
                                Ingredient <i class="fas fa-plus-circle prefix"></i></a>
                        </div>
                    </div>
                    <!-- End of Ingredients -->
                    <!-- Method -->
                    <div id="method_list" class="row">
                        <!-- for loop to display all the methods -->
                        {% for method in recipe.method %}
                            <div class="input-field col s12">
                                <i class="fas fa-list-ol prefix"></i>
                                <textarea name="method" id="method" rows="2" class="materialize-textarea validate" minlength="3"
                                    maxlength="600" required>{{ method }}</textarea>
                                <!-- Stops the label printing every time the loop runs -->
                                {% if loop.index == 1 %}
                                    <label for="method">Method</label>
                                {% endif %}
                                <!-- If there is more than one method -->
                                {% if loop.index != 1 %}
                                    <a href="#" id="remove_method" class="text-shadow wave-effect waves-light btn red right">Delete <i
                                            class="fas fa-trash"></i></a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Add another step -->
                    <div class="row">
                        <div class="right-align col s12">
                            <a href="#" id="new_step" class="btn wave-effect waves-light text-shadow">Add Another Step <i
                                    class="fas fa-plus-circle prefix"></i></a>
                        </div>
                    </div>
                    <!-- End of Method -->
                    <!-- Reset button -->
                    <div class="row valign-wrapper">
                        <div class="col s12">
                            <a href="{{ url_for('edit_recipes', recipe_id=recipe._id) }}" class="btn red text-shadow">Reset</a>
                        </div>
                        <!-- Add Recipe button -->
                        <div class="col s12 center-align">
                            <button class="btn green text-shadow" type="submit" name="add_recipe">Edit Recipe</button>
                        </div>
                    </div>

                    <!-- End of reset button -->
                </div>
            </form>
        </div>
    </section>
    <!-- End of recipe form -->
    <!-- End of heading -->
{% endblock %}