<!-- Extends base.html -->
{% extends "base.html" %}
{% block content %}
<!-- Hero Image -->
<section class="hero-image">
    <div class="hero-body center row">
        <div class="col">
            <h1 class="hero-header text-shadow">Home to everyones favorite food and beverage recipes!</h1>
        </div>
    </div>
</section>
<!-- End Hero Image -->
<!-- Info card -->
<main class="info-container container">
    <div class="row">
        <div class="col l12 m12">
            <div class="info-card card-content card-panel center-align text-shadow">
                <p>Love cooking amazing food you want to share with world!</p>
                <p>In the mood to craft a cracking cocktail?</p>
                <p>Search our recipes below and find the perfect recipe for you!</p>
                <!-- Customized Materialize search bar: https://materializecss.com/navbar.html  -->
                <div class="row">
                    <form action="{{ url_for('search') }}" method="POST" class="col s12">
                        <div class="valign-wrapper center-align">
                            <div class="input-field col s6 offset-s3">
                                <i class="fas fa-search prefix white-text"></i>
                                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                                <label class="search-recipes" for="query">Search Recipes</label>
                            </div>
                        </div>
                        <div class="search-container col s12 m12 l12">
                            <button type="submit" class="search-btn waves-effect waves-light btn text-shadow">
                                <i class="fas fa-search left"></i>
                                Search
                            </button>
                        </div>
                    </form>
                </div>
                <!-- End of search bar -->
                <p>Love what you see here and want to share your amazing recipes too?</p>
                <p>Sign up and start sharing your recipes with the world!</p>
                <!-- CTA button -->
                <div class="sign-up-container card-action">
                    <a class="btn" href="#register">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- End Info card -->
{% endblock %}