<!-- Extends "base.html" -->
{% extends "base.html" %}
{% block content %}

<!-- Username display -->
<div class="text-shadow row">
    <div class="col s12">
        <h1 class="profile-heading center-align">
            {{ username.capitalize() }}'s Profile
        </h1>
    </div>
</div>
<!-- End of Username display -->
<!-- Display the users recipes -->
<div class="my-recipe-row text-shadow row">
    <div class="col s12">
        <h3 class="my-recipe-heading center-align">My Recipes</h3>
    </div>
</div>
<!-- Add Recipe button -->
<div class="row col s12 center-align">
    <a class="add-recipe-btn waves-effect waves-light btn-large" href="{{ url_for('add_recipes') }}"><i class="fas fa-plus"></i> Add Recipe</a>
</div>
<!-- End of recipe button -->
<!-- End of Users displayed recipes -->

<!-- Users recipes -->
<div class="text-shadow">
    <div class="container">
        <div class="row">
            <!-- If the user has no recipes display this message -->
            {% if recipes|length == 0 %}
                <div class="no-recipe-text col s12 center-align">
                    <p>Doesn't look like you have uploaded any recipes yet.</p>
                    <p>Whenever you feel ready just hit the button above!</p>
                </div>
            {% else %}
                <!-- Loops through recipes created by the user -->
                {% for recipe in recipes %}
                    <div class="text-shadow col s12 m6 l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
                                <span class="card-title">{{ recipe.category_name}}</span>
                            </div>
                            <div class="card-content center-align">
                                <h3>{{ recipe.recipe_name }}</h3>
                                <span>Created By: {{ recipe.created_by }}</span>
                            </div>
                            <div class="card-action center-align">
                                <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" class="recipe-button btn waves-effect waves-light text-shadow">
                                    <i class="fas fa-eye left"></i>
                                    See Recipe
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<!-- End of users recipes -->
{% endblock %}